include:
  - docker-compose.yml

services:
  ### DATABASE
  database:
    volumes:
      - "./config/database/backups/:/backup:rw"
      - "./config/database/dev-version/:/docker-entrypoint-initdb.d:ro"
  dbadmin:
    environment:
      PMA_HOST: "${DB_HOST}"
      PMA_PORT: 3306
      PMA_USER: "${DB_USER}"
      PMA_PASSWORD: "${DB_PASS}"

  ### BACK
  calculator:
    volumes:
      - "./apps/:/apps/:ro"
    command:
      - "backend.main:app"
      - "--host"
      - "0.0.0.0"
      - "--port"
      - "8080"
      - "--reload"
  auth:
    volumes:
      - "./apps/:/apps/:ro"
    command:
      - "auth.main:app"
      - "--host"
      - "0.0.0.0"
      - "--port"
      - "8081"
      - "--reload"

  ### FRONT
  adminfront:
    build:
      target: "frontadmin"
    environment:
      - DANGEROUSLY_DISABLE_HOST_CHECK=true
      - PORT=${ADMIN_FRONT_PORT}
      - VITE_PUBLIC_URL=/admin
      - REACT_ROUTING_MAIN_SITE=/
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges
    user: "node"
    volumes:
      - "./apps/front-admin/public:/app/public:ro"
      - "./apps/front-admin/src:/app/src:ro"
      - "./apps/front-admin/index.html:/app/index.html:ro"
      - "./apps/front-admin/tsconfig.json:/app/tsconfig.json:ro"
      - "./apps/front-admin/eslint.config.mjs:/app/eslint.config.mjs:ro"
      - "./apps/front-admin/vite.config.js:/app/vite.config.js:ro"
    expose:
      - ${ADMIN_FRONT_PORT}
    ports:
      - "${ADMIN_FRONT_PORT}:${ADMIN_FRONT_PORT}"
    networks:
      reverseproxy:
    command: ["start"]

  ### PROXY
  reverseproxy:
    depends_on:
      calculator:
        condition: service_started
      auth:
        condition: service_started
      adminfront:
        condition: service_started
    volumes:
      - "./config/nginx/conf/nginx-dev.conf.template:/etc/nginx/templates/default.conf.template:ro"
      - "./config/nginx/conf/mime.types:/etc/nginx/conf.d/mime.types:ro"
      - "./apps/frontend/:/www/frontend/:ro"
