include:
  - docker-compose.yml

services:
  ### BACK
  calculator:
    volumes:
      - "./apps/:/apps/:ro"
  auth:
    volumes:
      - "./apps/:/apps/:ro"
  backadmin:
    volumes:
      - "./apps/:/apps/:ro"

  ### FRONT
  adminfrontbuilder:
    build:
      target: "frontadmin-builder"
    environment:
      - VITE_PUBLIC_URL=/admin
      - REACT_ROUTING_MAIN_SITE=/
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges
    user: "node"
    volumes:
      - "./apps/front-admin/:/app:rw"
    command:
      - "npm"
      - "run"
      - "build"

  ### PROXY
  reverseproxy:
    depends_on:
      calculator:
        condition: service_started
      auth:
        condition: service_started
      backadmin:
        condition: service_started
      adminfrontbuilder:
        condition: service_completed_successfully
    volumes:
      - "./config/nginx/conf/nginx.conf.template:/etc/nginx/templates/default.conf.template:ro"
      - "./config/nginx/conf/mime.types:/etc/nginx/conf.d/mime.types:ro"
      - "./apps/frontend/:/www/frontend/:ro"
      - "./apps/front-admin/dist/:/www/admin/:ro"
