@import "../variables";
html, body{
  font-family: $base_front_family;
}
.page_div{
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.control_panel_div{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-left: 5%;
}

.table_div{
  display: flex;
  flex-direction: column;

  width: 95%;
  height: 100%;
}

.action_div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px;
}
.filter_div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  height: 100%;
}

.control_filter_div{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 5px 0;
}
.filter_item_div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
