@import "components/Buttons";
@import "components/Inputs";
@import "components/ButtonsImage";
@import "components/Tables";
@import "components/Dropdown";
@import "components/Heading";
@import "components/Modal";
@import "components/Switch";
@import "components/Icon";
@import "widgets/PointsManager";
@import "widgets/RoutesManager";
@import "widgets/PointsManager";
@import "modals/createSample";
@import "modals/createPoint";
@import "modals/uploadZone";
@import "pagination";
@import "Modifications";
