@use "./variables";

body, html, #root, .app-container {
  margin: 0;
  padding: 0;
  width: 100dvw;
  overflow-x: hidden;
  min-height: 100dvh;
}

.sidebar-col {
  width: 15dvw;

  @media (max-width: 1000px) {
    width: 25dvw;
  }

  @media (max-width: variables.$mobile_max_width) {
    width: 100dvw;
  }
}

.main-col {
  width: 85dvw;

  @media (max-width: 1000px) {
    width: 75dvw;
  }

  @media (max-width: variables.$mobile_max_width) {
    width: 100dvw;
  }
}

.mobile-only {
  @media (min-width: variables.$mobile_max_width) {
    display: none;
  }
}

.desktop-only {
  @media (max-width: variables.$mobile_max_width) {
    display: none;
  }
}

.in_development {
  text-transform: uppercase;
  font-size: larger;
}

.main-container {
  padding: 3rem;
  min-height: calc(100dvh - 6rem);
}

.mobile-space {
  display: none;
  width: 100%;
  height: 50px;

  @media (max-width: 716px) {
    display: block;
  }
}

.rs-row {
  margin-left: 0!important;
  margin-right: 0!important;
}

.rs-col {
  padding-left: 0!important;
  padding-right: 0!important;
}
